.prime{
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.sections{
    display: flex ;
    flex-direction: column;
    height: 60vh;
    width: 95vw;
    align-items: start;   

}
.sectione{
    justify-content: space-evenly;
    display: flex;
    width: 95vw;
    height: 50vh;
}
.back{
    width: 100%;
    background-image: url('../../assets/todes.png');
    background-size: cover;
 
    display: flex;
    .aumento{
        width: 30vw;
        display: flex;
        justify-content: end;
    }
    h1{
        color: white;
        height: 100vh;
        width: 22vw;
        display: flex;
        align-items: center;
        font-size: 32px;
        justify-content: center;
    }
}
.h1daqui{
    margin-top: 5vw;
    margin-bottom: 5vw;
    color: #005695;
    font-size: xx-large;
    width: 30vw;
    text-align: center;
}
.divsao{
    width: 18vw;
    height: 42vh;
    border-radius: 10px;
    opacity: 0px;
    background-color: #0157944D;
    align-items: center;
    text-align: center;
}
p{
    color: black;
    font-size: 24px;
}
.faa{
    height: 12vh;
}
.joke{
    height: 16vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

@media (max-width:780px){
    .prime{
        height: 185vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: start;
    }
    .back{
        width: 100%;
        background-image: url('../../assets/todes.png');
        height: 70vw;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .aumento{
            width: 100vw;
            justify-content: center;
        }
        h1{
            width: 75vw;
            height: 40vh;
            text-align: center;
            font-size:28px ;
        }
    }
    .sections{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        height: 180vh;
        
        
        .h1daqui{
            width: 100vw;
            height: 20vh;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
    .sectione{
        width: 100vw;    
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        
    }
    .divsao{
        width: 80vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            font-size: 18px;
        }

    }
    .faa{
        width: 20vw;
    }
}