
header{
    display: flex;
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%) ;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;

}

.cabeca{
    display: flex;
    text-align: end;
    width: 18vw;
    color: white;
    align-items: end;
}
.Logo{
    width: 2%;
    
}
.navinha{
    width: 25vw;
    align-items: center;
    height: 50%;
    align-items: end;
    display: flex;
    justify-content: space-between;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.link{
    color:white;
}
.pesq{
    height: 9vh;
    display: flex;
    align-items: end;
}
.barraDePesquisa{
    text-align: center;
    align-items: center;
    justify-content: center;
    border: white solid 2px;
    border-radius:15px ;
    width: 15vw;
    height: 3vw;
    margin-right: 10px;
    display: flex;
    text-align: end;
    color: white;

}
input{
    border-radius: 4px;
    background: none;
    border: none;
    &::placeholder{
        color: white;
        text-align: center;
    }
    color: white;
    outline: 0;
}
button{
    background: none;
    border:none;
    cursor: pointer;
    height: 3vh;
}

@media (max-width:780px){
    header{
        flex-direction: column;
        justify-content: space-between;
    }
    .cabeca{
        width: 90vw;
        justify-content: center;
        height: 50vh;
        align-items: center;
    }
    .logo{
        width:40px ;
    }
    .barraDePesquisa{
        display: none;
    }
    .navinha{
        width: 95vw;
    }
    ul{
        width: 90vw;
    }
    
}
